extends ../template-2.pug

block header
    include ../regions/header.pug
    

block content

    .container
        .row
            .col-12.manifesto-wrapper2(style="background-image:url('images/png/copy_texture_1_large.jpg');") 
                .manifesto-headline2 Introducing Liquid Retina.
                .transparent-mask2#texture-1The New display on iPhone XR is the most advanced LCD in the industry. An innovative backlight design allows the screen to stretch into the corners. So you see true-to-life colour from one beautiful edge to the other.
            .btn-div
                .btn.btn-1 Learn more


block footer
    include ../regions/footer.pug