extends ../template-2.pug

block header
    include ../regions/header.pug
    

block content

    .container
        .progress-div
            .progress-line-div
                .progress-line#black-line
            .progress-onhold-div#blackxr
                .progress-onhold#right-black &#x2713;
            .progress-check-div#progress-iphxs-on
                .progress-check#check-black 2
            .progress-onhold-div#progress-iphxs-check
                .progress-onhold#not-check &middot;

    .container
        .row
            .col-12.hero-container
                .col-xs-12.device-content
                    .hero-img-wrapper
                        .hero-img#desktop(style="background-image:url('images/png/xr-header.png');")
                        .hero-img#mobile(style="background-image:url('images/png/xr-header-mob.png');")

                    
                    .headline1(style="background-image:url('images/png/logo_iPhone_XR_white.png');")
                        span.visualHidden iPhone XS
                    .subTagline Brilliant. In every way.
                    .descTagline All-new Liquid Retina display — the most advanced LCD in the industry. Even faster Face ID. The smartest, most powerful chip in a smartphone. And a breakthrough camera system. iPhone XR. It’s beautiful any way you look at it.
                    .btn-div
                        .btn.btn-cta.button-po.isSticky(style="visibility:hidden;") Pre-order Now
                        .btn.btn-cta.button-po Pre-order Now
    
    .container
        .row.first-section
            .col-12.video-container(style="background-image:url('images/png/design_film_large (1).jpg');")
                a.text-video-wrapper(href="#")
                    .title The new generation of iPhone
                    span.click-to-watch Watch the film

    .container
        .row
            .col-12.manifesto-wrapper
                .manifesto-headline Introducing Liquid Retina.
                .transparent-mask#texture-1(style="background-image:url('images/png/copy_texture_1_large.jpg');") The new display on iPhone XR is the most advanced LCD in the industry. An innovative backlight design allows the screen to stretch into the corners. So you see true-to-life colour from one beautiful edge to the other.
            .btn-div
                .btn.btn-1 Learn more
    
    .container
        .row
            .iphxs-overview-div
                .text-wrapper#left-xr
                    .text-content(style="color:#fff;") iPhone Xr
                    .text-content.d-inline(style="font-family:'Aaux Next Light';font-weight:700;") 6.1″ display
                    sup.d-inline
                        a.sup1(href="#") 1
                .ph-img-wrapper
                    .ph-img(style="background-image:url('images/png/hardware_display_iphonexr_black_portrait_small.jpg'); height:340px;background-size:contain; background-position:center;")
                    .text-wrapper#mobile
                        .mt-30
                        .text-content(style="color:#fff;") iPhone Xr 
                        .text-content(style="font-family:'Aaux Next Light';font-weight:700;") 6.1″ display
                        .mb-15
                    .text-wrapper#mobile
                        .text-content Largest LCD ever on an iPhone
                        .text-content Industry leading colour accuracy
                        .text-content Wide colour gamut
                        .text-content True tone
                        .text-content Tap to wake
                    
                .text-wrapper#right-xr
                    .text-content#rig-cont Largest LCD ever on an iPhone
                    .text-content#rig-cont Industry leading colour accuracy
                    .text-content#rig-cont Wide colour gamut
                    .text-content#rig-cont True tone
                    .text-content#rig-cont Tap to wake

    .container
        .row
            .compare-div
                .title-wrapper
                    .compare-title All screen makes all the difference.
                .phn-compare-wrapper
                    .ph-compare#ph-comp1
                        .ph-compare-bg(style="background-image:url('images/png/iphone-xs-max-1.png');")
                        .phn-name iPhone Xr
                    .ph-compare#ph-comp2
                        .ph-compare-bg1.ip-8plus(style="background-image:url('images/png/iphone-8plus.jpg');")
                        .ph-compare-bg1.ip-8#hide-ip(style="background-image:url('images/png/iphone-8.jpg');")
                        .select-ip8.d-flex
                            .btn.phn-name1.ip8-active#iph8plus(data-showiph8="ip-8plus") iPhone 8 Plus
                            .middot1 &middot;
                            .btn.phn-name1#iph8(data-showiph8="ip-8") iPhone 8
                    
    .container
        .row
            .col-12.manifesto-wrapper
                .manifesto-headline Exceptional materials. 
                .transparent-mask#texture-1(style="background-image:url('images/png/texture-2.jpg');background-size: cover;") The most durable glass ever in a smartphone. A beautiful new gold finish, achieved with an atomic-level process. Precision-machined, surgical-grade stainless steel bands. And a new level of water and dust resistance.
    
    .container
        .row
            .material-div-1
                .exc-material-1(style="background-image:url('images/png/screen_image_large-2.png');")
            .material-div
                .material-content#mobile-mat
                    .mat-title Seven-layer colour process. 
                    .desc-material(style="font-family:'Aaux Next Light';font-weight:700;")   The beautiful finishes of the back glass are achieved using an advanced process that allows for deep, rich colours.
                
                .material-content#mobile-mat              
                    .mat-title Aerospace-grade aluminium bands.
                    .desc-material(style="font-family:'Aaux Next Light';font-weight:700;")  A special Apple-designed alloy is precision-machined to create structural bands and anodised to complement the colour of the back glass.

                .material-content#mobile-mat              
                    .mat-title Wireless charging.
                    .desc-material(style="font-family:'Aaux Next Light';font-weight:700;")  The glass back allows iPhone XR to charge easily and wirelessly.

               
    .container
        .row
            .material-div
                .exc-material(style="background-image:url('images/png/screen_image_large-2.png');")
                                 
                


    .container
        .row
            .col-12.manifesto-wrapper
                .manifesto-headline Advanced Face ID.
                .transparent-mask#texture-1(style="background-image:url('images/png/copy_texture_3_large.jpg');background-size: cover;background-position: center;") Security is simple when your face is your password. You can unlock your iPhone and log in to apps, accounts and more with a glance. It’s the most secure facial authentication ever in a smartphone. And now it’s even faster.
            .btn-div
                .btn.btn-1 Learn more
            .bg-img-wrapper
                .bg-manifesto(style="background-image:url('images/png/screen_image_large-3.png');")
            
    .container
        .row
            .col-12.manifesto-wrapper
                .manifesto-headline Intelligent A12 Bionic.
                .transparent-mask#texture-1(style="background-image:url('images/png/copy_texture_4_large.jpg');background-size: cover;background-position: center;") This is the smartest, most powerful chip in a smartphone with our next-generation Neural Engine. For amazing augmented reality experiences. Incredible portraits with Depth Control. And speed and fluidity in everything you do.
            .btn-div
                .btn.btn-1 Learn more

    .container
        .row.bio-mob-div
            .bionic-mobile
                .bio-mobile(style="background-image:url('images/png/chip_large.jpg');")
                .bio-content-mobile
                    .chip-mob A12 Bionic

    .container
        .row.bionic-div
            .bio-wrapper
                .bio-content-div
                    .bio-content
                        .small-content Up to
                        .large-content  50% faster
                        .small-content  graphics performance
                    .bio-content
                        .small-content Up to
                        .large-content  15% faster
                        .small-content  performance cores
                    .bio-content
                        .small-content Up to
                        .large-content  50% lower
                        .small-content  power usage in efficiency cores
                .bio-content-div
                    .chip-large A12 Bionic
                .bio-content-div
                    .bio-content
                        .small-content 8-core
                        .large-content Neural Engine
                    .bio-content
                        .small-content Enhanced
                        .large-content  Image Signal Processor
                    .bio-content
                        .small-content Advanced
                        .large-content  Performance Controller


    .container
        .row.fix-bg(style="background-image:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/png/camera_hero_large-2.png')")
            .col-12.manifesto-wrapper.pt-100
                .manifesto-headline Breakthrough dual-camera system.
                .transparent-mask#texture-1(style="background-image:url('images/png/copy_texture_7_large.jpg');background-size: cover;") The world’s most popular camera is defining a new era of photography. Where an innovative sensor works with the ISP and Neural Engine to help you create photos like never before.
            .btn-div
                .btn.btn-1 Learn more

    



    .container
        .row
            .beaut-photo-div#xr-beaut(style="margin-top:30px;")
                .bt-photo#mob-bt(style="background-image:url('images/png/2_iphone_xr.jpg');")
                .caption-div
                    .title Portrait mode.
                    .desc iPhone XR uses a single-lens camera and machine learning to keep people in the foreground in sharp focus against an artfully blurred background.
                .bt-photo#desktop-bt(style="background-image:url('images/png/2_iphone_xr.jpg');")
            
            .beaut-photo-div
                .bt-photo#mob-bt(style="background-image:url('images/png/3_iphone_xr.jpg');")
                .caption-div#dept-cont-xr
                    .title Enhanced bokeh effect. 
                    .desc Portrait mode photos look even more professional thanks to a sophisticated background blur.
                .bt-photo#desktop-bt(style="background-image:url('images/png/3_iphone_xr.jpg');")

            .beaut-photo-div
                .bt-photo#mob-bt(style="background-image:url('images/png/4_iphone_xr.jpg');")               
                .caption-div#dept-cont-xr
                    .title All-new Depth Control.
                    .desc Now you can adjust the depth of field in portraits after you shoot.
                .bt-photo#desktop-bt(style="background-image:url('images/png/4_iphone_xr.jpg');")

            .beaut-photo-div#dept-div
                .bt-photo#mob-bt(style="background-image:url('images/png/5_iphone_xr.jpg');")
                .caption-div#dept-cont-xr
                    .title Smart HDR.
                    .desc New secondary frames, a faster sensor and the powerful A12 Bionic chip bring more highlight and shadow detail to your photos.
                .bt-photo#desktop-bt(style="background-image:url('images/png/5_iphone_xr.jpg');")
    
    .container
        .row
            .material-div-1#mob-only
                .exc-material-1#mob-only(style="background-image:url('images/png/5_iphone_xr.png');")



    .container
        .row#gradient-container1
            .cam-spec-title Dual 12MP rear cameras
            .camera-spec-div 
                .cam-content
                    .cam-title ƒ/1.8 
                    .desc-cam wide-angle lens

                    .cam-title#desk-cam Portrait mode
                    .desc-cam#desk-cam  with Depth Control

                    .cam-title 2x faster sensor
                    .desc-cam for Smart HDR across your photos
                    
                    .cam-title#desk-cam  4K video
                    .desc-cam#desk-cam  up to 60 fps
                                      
                    .cam-title#desk-cam  TrueDepth camera
                    .mb-lg-30
                    .cam-title#desk-cam  ƒ/2.2
                    .desc-cam#desk-cam  wide-angle lens

                    .cam-title#desk-cam  1080p HD video
                    .desc-cam#desk-cam  up to 80 fps
                    

                .cam-content#mobile-cam
                    .cam-title Portrait mode
                    .desc-cam with Depth Control

                    .cam-title 4K video
                    .desc-cam up to 60 fps
                
                .cam-bg(style="background-image:url('images/png/cam-power-2.png');") 
    .container
        .row
            .material-div-1
                .exc-material-1(style="background-image:url('images/png/6_iphone_xr.png');")

    .container
        .row.tru-dep#gradient-container2
            .cam-spec-title True depth camera
            .camera-spec-div 
                .cam-content#mobile-cam
                    .cam-title ƒ/2.2
                    .desc-cam wide angle lens
                    .cam-title Potrait mode
                    .desc-cam with Depth Control
                .cam-content#mobile-cam
                    .cam-title 1080p HD video
                    .desc-cam up to 60fps


    .container
        .row
            .col-12.manifesto-wrapper
                .manifesto-headline No other phone is like iPhone.
                .transparent-mask#texture-1(style="background-image:url('images/png/copy_texture_3_large.jpg');background-size: cover;") Every decision that goes into iPhone makes it stand apart. From the way it’s made, to the way we build in privacy and security from the start, to the innovative ways we recycle its components.
            .btn-div
                .btn.btn-1 Learn more
                


block footer
    include ../regions/footer.pug