.footer-bar{
    background-color: #e1e1e1;
    .footer-wrapper{
        padding: 10px;
        margin-left: 25px;
        .text{
            font-family: 'Aaux Next Light';
            font-size: 14px;
            font-weight: 600;
            color: #8b8d8e;
        }
    }
}